.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 30px;
    background-color: #F6F6F6;
    border-radius: 25px;

    @media screen and (max-width: 600px){
        padding: 10px;
        background-color: white;
        justify-content: center;
    }
}