@use "./pages/About/About.scss";
@use "./Components/Banner/Banner.scss";
@use "./Components/Collapse/Collapse.scss";
@use "./Components/Gallery/Gallery.scss";
@use "./pages/Home/Home.scss";
@use "./pages/Logement/Logement.scss";
@use "./Components/Nav/Nav.scss";
@use "./pages/NotFound/NotFound.scss";
@use "./Components/Tag/Tag.scss";
@use "./Components/Thumbnail/Thumbnail.scss";
@use "./Components/Footer/Footer.scss";
@use "./Components//Rating//Rating.scss";
@use "./Components/Carrousel/Carrousel.scss";
@use "./Components/Details/Details.scss";
@use "./Components/Host/Host.scss";

* {
    font-family: 'Montserrat', sans-serif;
}

p{
    margin : 0;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    padding: 80px;
    padding-top: 50px;
    padding-bottom: 0;
    @media screen and (max-width: 600px){
        padding: 10px;
        padding-bottom: 0;
    }
}

ul {
    padding: 0;
    padding-left: 10px;
}